<a href=https://uplimit.com/course/r-for-data-science>
  <img src=https://imgur.com/6Vkc11w.png />
</a>

|        |                                   |                                   |                                 |                                |
| -------| ----------------------------------| -------------------------------- -| --------------------------------| ------------------------------------------|
| Week 1 | [[01] Doing Data Science](https://colab.research.google.com/drive/1aWpmzS36qVc8hNIaSSSHexlodwwyMJCB)           | [[02] Data Science in Action](https://colab.research.google.com/drive/1aWpmzS36qVc8hNIaSSSHexlodwwyMJCB)       | [[03] Importing Data](https://colab.research.google.com/drive/13kHBX3H1F2yx5yXWJ5iFZh48qjEtpLjU)             | [[04] Visualizing Data: Overview](https://colab.research.google.com/drive/1JSeDt-Gneegd5B2KwWTJF_igYPb-xsIv)          |
|        | [[05] Transforming Data: Overview](https://colab.research.google.com/drive/1IMZJFE8WmwjgdYCddvaO386PljKq_PjC)  | [[06] Transforming Data: Manipulate](https://colab.research.google.com/drive/19ClnAH7d30I9PkD9KuZndPmy5hxk3gdi) |                                 |                                           |
| Week 2 | [[07] Transforming Data: Aggregate](https://colab.research.google.com/drive/1zigvePewKpzKQHx2pjABXU6Ms8QzQXj7) | [[08] Transforming Data: Reshape](https://colab.research.google.com/drive/1Ma9VrM9SrkNEeXTSul0Ca8a7GHAeNLzC)   | [[09] Transforming Data: Combine](https://colab.research.google.com/drive/1JUGm1h4YPmCkre-rVUj5Ql7lBS66_xIs) | [[10] Visualizing Data: Grammar of Graphics](https://colab.research.google.com/drive/1YLE3NPp-TO2KUTohtidjzKMeqJVWxYoT) |
|        | [[11] Data Science in Action Again](https://colab.research.google.com/drive/1eWjVK4oEiXdwdP4sT0nOJlmkCMBkfLpz) |                                   |                                 |                                           |
Books | [Hands on Programming with R](https://rstudio-education.github.io/hopr/index.html) | [R for Data Science](https://r4ds.hadley.nz/) | [Elegant Graphics for Data Analysis](https://ggplot2-book.org/)

> 📕 __BEFORE YOU GET STARTED:__
> 1. Click on **Copy to Drive** to copy notebook to your drive.
> 2. Click on **Share** on the top-right corner (of your copied notebook).
> 3. Update sharing settings to **Anyone with link**
> 4. Delete this cell.

## Manipulating Data

Recall how data manipulation operations work on rows and columns of a table, while leaving its shape largely intact. It is useful to group these operations based on whether they manipulate rows or columns.

<img src="https://imgur.com/xd7PCyy.png" />

In [ ]:
# Load packages and common utilities
library(tidyverse)
url = "https://gist.githubusercontent.com/ramnathv/e71d3ffe88961fc4ef95642053012384/raw/9dda53562d06009912841ab3538d4aeb90e5ee09/_common.R"
download.file(url, basename(url))
source("_common.R")
knitr::opts_chunk$set(collapse = FALSE)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Inspecting installed packages...

Tracing function "install.packages" in package "utils"

Tracing function "update.packages" in package "utils"

Installing packages into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Inspecting installed packages...

We will use a handy dataset named `starwars` that ships with the `dplyr` package, to illustrate the basic idea behind these data manipulation operations.

In [ ]:
head(starwars)

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

While the data is largely self explanatory, as always, you can type `? starwars` to get more details on the data.

### Manipulating Rows

These functions operate on the rows of a table and allow us to subset a table.

#### `filter`: Keep rows that match a condition

The `filter()` functions allows you to subset rows of a table based on a set of one or more matching conditions. You can combine one or more criteria to keep only the rows that you want to keep.

Run these examples one at a time to understand what they accomplish. In order to get the most out of it, have a hypothesis in place before you run the line of code, so you can corroborate your understanding with the results. Finally, don't limit yourself to these examples. Come up with your own criteria and explore.

In [ ]:
# One criterion, One expression
starwars |>
  filter(species == "Human") |>
  head()

  name               height mass hair_color  skin_color eye_color birth_year
1 Luke Skywalker     172     77  blond       fair       blue      19.0
2 Darth Vader        202    136  none        white      yellow    41.9
3 Leia Organa        150     49  brown       light      brown     19.0
4 Owen Lars          178    120  brown, grey light      blue      52.0
5 Beru Whitesun lars 165     75  brown       light      blue      47.0
6 Biggs Darklighter  183     84  black       light      brown     24.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 male   masculine Tatooine  Human
3 female feminine  Alderaan  Human
4 male   masculine Tatooine  Human
5 female feminine  Tatooine  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 Attack of the Clones, Revenge of the Sith , A New Hope
5 Attack of the Clones, Revenge of the Sith , A New Hope
6 A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3 Imperial Speeder Bike
4
5
6
  starships
1 X-wing          , Imperial shuttle
2 TIE Advanced x1
3
4
5
6 X-wing

In [ ]:
starwars |>
  filter(mass > 1000) |>
  head()

  name                  height mass hair_color skin_color       eye_color
1 Jabba Desilijic Tiure 175    1358 NA         green-tan, brown orange
  birth_year sex            gender    homeworld species
1 600        hermaphroditic masculine Nal Hutta Hutt
  films                                                      vehicles starships
1 The Phantom Menace, Return of the Jedi, A New Hope

In [ ]:
# Multiple criterion, One expression
starwars |>
  filter(hair_color == "none" & eye_color == "black") |>
  head()

  name      height mass hair_color skin_color  eye_color birth_year sex
1 Nien Nunb 160    68   none       grey        black     NA         male
2 Gasgano   122    NA   none       white, blue black     NA         male
3 Kit Fisto 196    87   none       green       black     NA         male
4 Plo Koon  188    80   none       orange      black     22         male
5 Lama Su   229    88   none       grey        black     NA         male
6 Taun We   213    NA   none       grey        black     NA         female
  gender    homeworld   species
1 masculine Sullust     Sullustan
2 masculine Troiken     Xexto
3 masculine Glee Anselm Nautolan
4 masculine Dorin       Kel Dor
5 masculine Kamino      Kaminoan
6 feminine  Kamino      Kaminoan
  films                                                            vehicles
1 Return of the Jedi
2 The Phantom Menace
3 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
4 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
5 Attack of the Clones
6 Attack of the Clones
  starships
1 Millennium Falcon
2
3
4 Jedi starfighter
5
6

In [ ]:
starwars |>
  filter(hair_color == "none" | eye_color == "black") |>
  head()

  name        height mass hair_color skin_color   eye_color birth_year sex
1 Darth Vader 202    136  none       white        yellow    41.9       male
2 Greedo      173     74  NA         green        black     44.0       male
3 IG-88       200    140  none       metal        red       15.0       none
4 Bossk       190    113  none       green        red       53.0       male
5 Lobot       175     79  none       light        blue      37.0       male
6 Ackbar      180     83  none       brown mottle orange    41.0       male
  gender    homeworld species
1 masculine Tatooine  Human
2 masculine Rodia     Rodian
3 masculine NA        Droid
4 masculine Trandosha Trandoshan
5 masculine Bespin    Human
6 masculine Mon Cala  Mon Calamari
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
2 A New Hope
3 The Empire Strikes Back
4 The Empire Strikes Back
5 The Empire Strikes Back
6 Return of the Jedi, The Force Awakens
  vehicles starships
1          TIE Advanced x1
2
3
4
5
6

In [ ]:
# Multiple criterion, Multiple expressions
starwars |>
  filter(hair_color == "none", eye_color == "black") |>
  head()

  name      height mass hair_color skin_color  eye_color birth_year sex
1 Nien Nunb 160    68   none       grey        black     NA         male
2 Gasgano   122    NA   none       white, blue black     NA         male
3 Kit Fisto 196    87   none       green       black     NA         male
4 Plo Koon  188    80   none       orange      black     22         male
5 Lama Su   229    88   none       grey        black     NA         male
6 Taun We   213    NA   none       grey        black     NA         female
  gender    homeworld   species
1 masculine Sullust     Sullustan
2 masculine Troiken     Xexto
3 masculine Glee Anselm Nautolan
4 masculine Dorin       Kel Dor
5 masculine Kamino      Kaminoan
6 feminine  Kamino      Kaminoan
  films                                                            vehicles
1 Return of the Jedi
2 The Phantom Menace
3 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
4 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
5 Attack of the Clones
6 Attack of the Clones
  starships
1 Millennium Falcon
2
3
4 Jedi starfighter
5
6

#### `arrange`: Order rows using column values

The `arrange()` function lets you sort a table based on the values of one or more columns. You can use the modifier function, `desc()`, to indicate that you want to sort a column in the descending order.

In [ ]:
# Single Column > Ascending
starwars |>
  arrange(name) |>
  head()

  name             height mass hair_color skin_color   eye_color birth_year
1 Ackbar           180    83   none       brown mottle orange    41.0
2 Adi Gallia       184    50   none       dark         blue        NA
3 Anakin Skywalker 188    84   blond      fair         blue      41.9
4 Arvel Crynyd      NA    NA   brown      fair         brown       NA
5 Ayla Secura      178    55   none       blue         hazel     48.0
6 BB8               NA    NA   none       none         black       NA
  sex    gender    homeworld species
1 male   masculine Mon Cala  Mon Calamari
2 female feminine  Coruscant Tholothian
3 male   masculine Tatooine  Human
4 male   masculine NA        Human
5 female feminine  Ryloth    Twi'lek
6 none   masculine NA        Droid
  films
1 Return of the Jedi, The Force Awakens
2 The Phantom Menace , Revenge of the Sith
3 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
4 Return of the Jedi
5 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
6 The Force Awakens
  vehicles
1
2
3 Zephyr-G swoop bike, XJ-6 airspeeder
4
5
6
  starships
1
2
3 Trade Federation cruiser, Jedi Interceptor        , Naboo fighter
4 A-wing
5
6

In [ ]:
# Single Column > Descending
starwars |>
  arrange(desc(mass)) |>
  head()

  name                  height mass hair_color  skin_color       eye_color
1 Jabba Desilijic Tiure 175    1358 NA          green-tan, brown orange
2 Grievous              216     159 none        brown, white     green, yellow
3 IG-88                 200     140 none        metal            red
4 Darth Vader           202     136 none        white            yellow
5 Tarfful               234     136 brown       brown            blue
6 Owen Lars             178     120 brown, grey light            blue
  birth_year sex            gender    homeworld species
1 600.0      hermaphroditic masculine Nal Hutta Hutt
2    NA      male           masculine Kalee     Kaleesh
3  15.0      none           masculine NA        Droid
4  41.9      male           masculine Tatooine  Human
5    NA      male           masculine Kashyyyk  Wookiee
6  52.0      male           masculine Tatooine  Human
  films
1 The Phantom Menace, Return of the Jedi, A New Hope
2 Revenge of the Sith
3 The Empire Strikes Back
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 Revenge of the Sith
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles                    starships
1
2 Tsmeu-6 personal wheel bike Belbullab-22 starfighter
3
4                             TIE Advanced x1
5
6

In [ ]:
# Multiple Columns
starwars |>
  arrange(name, desc(mass)) |>
  head()

  name             height mass hair_color skin_color   eye_color birth_year
1 Ackbar           180    83   none       brown mottle orange    41.0
2 Adi Gallia       184    50   none       dark         blue        NA
3 Anakin Skywalker 188    84   blond      fair         blue      41.9
4 Arvel Crynyd      NA    NA   brown      fair         brown       NA
5 Ayla Secura      178    55   none       blue         hazel     48.0
6 BB8               NA    NA   none       none         black       NA
  sex    gender    homeworld species
1 male   masculine Mon Cala  Mon Calamari
2 female feminine  Coruscant Tholothian
3 male   masculine Tatooine  Human
4 male   masculine NA        Human
5 female feminine  Ryloth    Twi'lek
6 none   masculine NA        Droid
  films
1 Return of the Jedi, The Force Awakens
2 The Phantom Menace , Revenge of the Sith
3 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
4 Return of the Jedi
5 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
6 The Force Awakens
  vehicles
1
2
3 Zephyr-G swoop bike, XJ-6 airspeeder
4
5
6
  starships
1
2
3 Trade Federation cruiser, Jedi Interceptor        , Naboo fighter
4 A-wing
5
6

#### `distinct`: Keep distinct/unique rows

The `distinct()` function allows you to keep rows with distinct combinations of column values.

In [ ]:
# Single Column
starwars |>
  distinct(sex)

  sex
1 male
2 none
3 female
4 hermaphroditic
5 NA

In [ ]:
# Multiple Columns
starwars |>
  distinct(sex, skin_color) |>
  head()

  sex    skin_color
1 male   fair
2 none   gold
3 none   white, blue
4 male   white
5 female light
6 male   light

#### `slice`: Subset rows using their positions

The `slice_` family of functions let you subset rows based on their position. It ships with several variations that let you pick rows by their absolute position (`slice_head` and `slice_tail`), by their relative position based on a column value (`slice_min` and `slice_max`), or at random (`slice_sample`).

In [ ]:
# Rows 1-5
starwars |>
  slice(1:5)

  name           height mass hair_color skin_color  eye_color birth_year sex
1 Luke Skywalker 172     77  blond      fair        blue       19.0      male
2 C-3PO          167     75  NA         gold        yellow    112.0      none
3 R2-D2           96     32  NA         white, blue red        33.0      none
4 Darth Vader    202    136  none       white       yellow     41.9      male
5 Leia Organa    150     49  brown      light       brown      19.0      female
  gender    homeworld species
1 masculine Tatooine  Human
2 masculine Tatooine  Droid
3 masculine Naboo     Droid
4 masculine Tatooine  Human
5 feminine  Alderaan  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5

In [ ]:
# First 5 Rows
starwars |>
  slice_head(n = 5)

  name           height mass hair_color skin_color  eye_color birth_year sex
1 Luke Skywalker 172     77  blond      fair        blue       19.0      male
2 C-3PO          167     75  NA         gold        yellow    112.0      none
3 R2-D2           96     32  NA         white, blue red        33.0      none
4 Darth Vader    202    136  none       white       yellow     41.9      male
5 Leia Organa    150     49  brown      light       brown      19.0      female
  gender    homeworld species
1 masculine Tatooine  Human
2 masculine Tatooine  Droid
3 masculine Naboo     Droid
4 masculine Tatooine  Human
5 feminine  Alderaan  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5

In [ ]:
# Last 5 Rows
starwars |>
  slice_tail(n = 5)

  name           height mass hair_color skin_color eye_color birth_year sex
1 Rey             NA    NA   brown      light      hazel     NA         female
2 Poe Dameron     NA    NA   brown      light      brown     NA         male
3 BB8             NA    NA   none       none       black     NA         none
4 Captain Phasma  NA    NA   unknown    unknown    unknown   NA         NA
5 Padmé Amidala  165    45   brown      light      brown     46         female
  gender    homeworld species
1 feminine  NA        Human
2 masculine NA        Human
3 masculine NA        Droid
4 NA        NA        NA
5 feminine  Naboo     Human
  films                                                            vehicles
1 The Force Awakens
2 The Force Awakens
3 The Force Awakens
4 The Force Awakens
5 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
  starships
1
2 T-70 X-wing fighter
3
4
5 H-type Nubian yacht, Naboo star skiff   , Naboo fighter

In [ ]:
# First 5 Rows arranged by height
starwars |>
  slice_min(height, n = 5)

  name                  height mass hair_color skin_color  eye_color birth_year
1 Yoda                  66     17   white      green       brown     896
2 Ratts Tyerell         79     15   none       grey, blue  unknown    NA
3 Wicket Systri Warrick 88     20   brown      brown       brown       8
4 Dud Bolt              94     45   none       blue, grey  yellow     NA
5 R2-D2                 96     32   NA         white, blue red        33
6 R4-P17                96     NA   none       silver, red red, blue  NA
  sex  gender    homeworld   species
1 male masculine NA          Yoda's species
2 male masculine Aleen Minor Aleena
3 male masculine Endor       Ewok
4 male masculine Vulpter     Vulptereen
5 none masculine Naboo       Droid
6 none feminine  NA          Droid
  films
1 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi
2 The Phantom Menace
3 Return of the Jedi
4 The Phantom Menace
5 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith
  vehicles starships
1
2
3
4
5
6

In [ ]:
# First 5 Rows arranged by descending height
starwars |>
  slice_max(height, n = 5)

  name         height mass hair_color skin_color eye_color birth_year sex
1 Yarael Poof  264     NA  none       white      yellow     NA        male
2 Tarfful      234    136  brown      brown      blue       NA        male
3 Lama Su      229     88  none       grey       black      NA        male
4 Chewbacca    228    112  brown      unknown    blue      200        male
5 Roos Tarpals 224     82  none       grey       orange     NA        male
  gender    homeworld species
1 masculine Quermia   Quermian
2 masculine Kashyyyk  Wookiee
3 masculine Kamino    Kaminoan
4 masculine Kashyyyk  Wookiee
5 masculine Naboo     Gungan
  films
1 The Phantom Menace
2 Revenge of the Sith
3 Attack of the Clones
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
5 The Phantom Menace
  vehicles starships
1
2
3
4 AT-ST    Millennium Falcon, Imperial shuttle
5

In [ ]:
# Random 5 Rows
starwars |>
  slice_sample(n = 5)

  name             height mass hair_color skin_color    eye_color birth_year
1 Raymus Antilles  188     79  brown      light         brown     NA
2 Jek Tono Porkins 180    110  brown      fair          blue      NA
3 Nute Gunray      191     90  none       mottled green red       NA
4 Nien Nunb        160     68  none       grey          black     NA
5 Han Solo         180     80  brown      fair          brown     29
  sex  gender    homeworld      species
1 male masculine Alderaan       Human
2 male masculine Bestine IV     Human
3 male masculine Cato Neimoidia Neimodian
4 male masculine Sullust        Sullustan
5 male masculine Corellia       Human
  films
1 Revenge of the Sith, A New Hope
2 A New Hope
3 Attack of the Clones, The Phantom Menace  , Revenge of the Sith
4 Return of the Jedi
5 The Empire Strikes Back, Return of the Jedi     , A New Hope             , The Force Awakens
  vehicles starships
1
2          X-wing
3
4          Millennium Falcon
5          Millennium Falcon, Imperial shuttle

In [ ]:
# Random 20% Rows
starwars |>
  slice_sample(prop = 0.20) |>
  head()

  name            height mass  hair_color  skin_color          eye_color
1 R4-P17           96       NA none        silver, red         red, blue
2 BB8              NA       NA none        none                black
3 Zam Wesell      168     55.0 blonde      fair, green, yellow yellow
4 C-3PO           167     75.0 NA          gold                yellow
5 Luminara Unduli 170     56.2 black       yellow              blue
6 Owen Lars       178    120.0 brown, grey light               blue
  birth_year sex    gender    homeworld species
1  NA        none   feminine  NA        Droid
2  NA        none   masculine NA        Droid
3  NA        female feminine  Zolan     Clawdite
4 112        none   masculine Tatooine  Droid
5  58        female feminine  Mirial    Mirialan
6  52        male   masculine Tatooine  Human
  films
1 Attack of the Clones, Revenge of the Sith
2 The Force Awakens
3 Attack of the Clones
4 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
5 Attack of the Clones, Revenge of the Sith
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles                   starships
1
2
3 Koro-2 Exodrive airspeeder
4
5
6

### Manipulating Columns

#### `select`: Keep or drop columns (1 / 2)

The `select` function lets you keep or drop columns in a dataset. You can use unquoted column names, ranges, and even boolean operators to define your selection.

In [ ]:
# Keep columns name and mass
starwars |>
  select(name, mass) |>
  head()

  name           mass
1 Luke Skywalker  77
2 C-3PO           75
3 R2-D2           32
4 Darth Vader    136
5 Leia Organa     49
6 Owen Lars      120

In [ ]:
# Keep columns from name to skin_color, and species
starwars |>
  select(name:skin_color, species) |>
  head()

  name           height mass hair_color  skin_color  species
1 Luke Skywalker 172     77  blond       fair        Human
2 C-3PO          167     75  NA          gold        Droid
3 R2-D2           96     32  NA          white, blue Droid
4 Darth Vader    202    136  none        white       Human
5 Leia Organa    150     49  brown       light       Human
6 Owen Lars      178    120  brown, grey light       Human

In [ ]:
# Drop columns mass and height
starwars |>
  select(-mass, -height) |>
  head()

  name           hair_color  skin_color  eye_color birth_year sex    gender
1 Luke Skywalker blond       fair        blue       19.0      male   masculine
2 C-3PO          NA          gold        yellow    112.0      none   masculine
3 R2-D2          NA          white, blue red        33.0      none   masculine
4 Darth Vader    none        white       yellow     41.9      male   masculine
5 Leia Organa    brown       light       brown      19.0      female feminine
6 Owen Lars      brown, grey light       blue       52.0      male   masculine
  homeworld species
1 Tatooine  Human
2 Tatooine  Droid
3 Naboo     Droid
4 Tatooine  Human
5 Alderaan  Human
6 Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
# Drop columns from mass to skin_color
starwars |>
  select(!(mass:skin_color)) |>
  head()

  name           height eye_color birth_year sex    gender    homeworld species
1 Luke Skywalker 172    blue       19.0      male   masculine Tatooine  Human
2 C-3PO          167    yellow    112.0      none   masculine Tatooine  Droid
3 R2-D2           96    red        33.0      none   masculine Naboo     Droid
4 Darth Vader    202    yellow     41.9      male   masculine Tatooine  Human
5 Leia Organa    150    brown      19.0      female feminine  Alderaan  Human
6 Owen Lars      178    blue       52.0      male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

#### `select`: Keep or drop columns (2 / 2)

The `dplyr` package also provides a handy set of selectors (`contains`, `ends_with`, `where` etc) that let you select columns based on a pattern. This is very handy especially when you want to pick multiple columns, but don't want to type each column name separately.

To get the most out of this, please run each example separately. Also, look up the examples in the package by typing `? dplyr::select` in your R console. These functions are the basic building blocks of data manipulation and provide you with a very wide toolkit. The more you are able to hold these in your muscle memory, the more adept you will become with data manipulation.

In [ ]:
# Keep columns containing the word "color"
starwars |>
  select(contains("color")) |>
  head()

  hair_color  skin_color  eye_color
1 blond       fair        blue
2 NA          gold        yellow
3 NA          white, blue red
4 none        white       yellow
5 brown       light       brown
6 brown, grey light       blue

In [ ]:
# Keep columns ending with the word "color"
starwars |>
  select(ends_with("color")) |>
  head()

  hair_color  skin_color  eye_color
1 blond       fair        blue
2 NA          gold        yellow
3 NA          white, blue red
4 none        white       yellow
5 brown       light       brown
6 brown, grey light       blue

In [ ]:
# Keep columns which are numeric
starwars |>
  select(where(is.numeric)) |>
  head()

  height mass birth_year
1 172     77   19.0
2 167     75  112.0
3  96     32   33.0
4 202    136   41.9
5 150     49   19.0
6 178    120   52.0

In [ ]:
# Keep columns which are lists
starwars |>
  select(where(is.list)) |>
  head()

  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

#### `mutate`: Create, modify, and delete columns

The `mutate()` function can be used to create, modify, or remove columns.

In [ ]:
# Create column mass_lbs
starwars |>
  mutate(mass_lbs = mass * 2.2) |>
  head()

  name           height mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships                          mass_lbs
1 X-wing          , Imperial shuttle 169.4
2                                    165.0
3                                     70.4
4 TIE Advanced x1                    299.2
5                                    107.8
6                                    264.0

In [ ]:
# Modify column height
starwars |>
  mutate(height = height * 0.0328084) |>
  head()

  name           height   mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 5.643045  77  blond       fair        blue       19.0
2 C-3PO          5.479003  75  NA          gold        yellow    112.0
3 R2-D2          3.149606  32  NA          white, blue red        33.0
4 Darth Vader    6.627297 136  none        white       yellow     41.9
5 Leia Organa    4.921260  49  brown       light       brown      19.0
6 Owen Lars      5.839895 120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
# Remove column:
starwars |>
  mutate(mass = NULL) |>
  head()

  name           height hair_color  skin_color  eye_color birth_year sex
1 Luke Skywalker 172    blond       fair        blue       19.0      male
2 C-3PO          167    NA          gold        yellow    112.0      none
3 R2-D2           96    NA          white, blue red        33.0      none
4 Darth Vader    202    none        white       yellow     41.9      male
5 Leia Organa    150    brown       light       brown      19.0      female
6 Owen Lars      178    brown, grey light       blue       52.0      male
  gender    homeworld species
1 masculine Tatooine  Human
2 masculine Tatooine  Droid
3 masculine Naboo     Droid
4 masculine Tatooine  Human
5 feminine  Alderaan  Human
6 masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
# Do it all at once
starwars |>
 mutate(mass_lbs = mass * 2.2, mass = NULL) |>
 head()

  name           height hair_color  skin_color  eye_color birth_year sex
1 Luke Skywalker 172    blond       fair        blue       19.0      male
2 C-3PO          167    NA          gold        yellow    112.0      none
3 R2-D2           96    NA          white, blue red        33.0      none
4 Darth Vader    202    none        white       yellow     41.9      male
5 Leia Organa    150    brown       light       brown      19.0      female
6 Owen Lars      178    brown, grey light       blue       52.0      male
  gender    homeworld species
1 masculine Tatooine  Human
2 masculine Tatooine  Droid
3 masculine Naboo     Droid
4 masculine Tatooine  Human
5 feminine  Alderaan  Human
6 masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships                          mass_lbs
1 X-wing          , Imperial shuttle 169.4
2                                    165.0
3                                     70.4
4 TIE Advanced x1                    299.2
5                                    107.8
6                                    264.0

#### `rename`: Rename columns

The `rename()` function can be used to rename one or more columns. It can be combined with the selector functions like `ends_with()` to operate on multiple columns based on patterns.

In [ ]:
# Rename
starwars |>
  rename(mass_kgs = mass) |>
  head()

  name           height mass_kgs hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172     77      blond       fair        blue       19.0
2 C-3PO          167     75      NA          gold        yellow    112.0
3 R2-D2           96     32      NA          white, blue red        33.0
4 Darth Vader    202    136      none        white       yellow     41.9
5 Leia Organa    150     49      brown       light       brown      19.0
6 Owen Lars      178    120      brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
# Rename ALL columns to uppercase
starwars |>
  rename_with(toupper) |>
  head()

  NAME           HEIGHT MASS HAIR_COLOR  SKIN_COLOR  EYE_COLOR BIRTH_YEAR
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  SEX    GENDER    HOMEWORLD SPECIES
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  FILMS
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  VEHICLES
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  STARSHIPS
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
# Rename “color” columns to uppercase
starwars |>
  rename_with(toupper, ends_with("color")) |>
  head()

  name           height mass HAIR_COLOR  SKIN_COLOR  EYE_COLOR birth_year
1 Luke Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO          167     75  NA          gold        yellow    112.0
3 R2-D2           96     32  NA          white, blue red        33.0
4 Darth Vader    202    136  none        white       yellow     41.9
5 Leia Organa    150     49  brown       light       brown      19.0
6 Owen Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

#### `relocate`: Relocate columns

The `relocate()` function can be used to relocate a column before or after another column in the table.

In [ ]:
# Relocate column AFTER a column
starwars |>
  relocate(sex, .after = name) |>
  head()

  name           sex    height mass hair_color  skin_color  eye_color
1 Luke Skywalker male   172     77  blond       fair        blue
2 C-3PO          none   167     75  NA          gold        yellow
3 R2-D2          none    96     32  NA          white, blue red
4 Darth Vader    male   202    136  none        white       yellow
5 Leia Organa    female 150     49  brown       light       brown
6 Owen Lars      male   178    120  brown, grey light       blue
  birth_year gender    homeworld species
1  19.0      masculine Tatooine  Human
2 112.0      masculine Tatooine  Droid
3  33.0      masculine Naboo     Droid
4  41.9      masculine Tatooine  Human
5  19.0      feminine  Alderaan  Human
6  52.0      masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
# Relocate a column BEFORE a column
starwars |>
  relocate(sex, .before = mass) |>
  head()

  name           height sex    mass hair_color  skin_color  eye_color
1 Luke Skywalker 172    male    77  blond       fair        blue
2 C-3PO          167    none    75  NA          gold        yellow
3 R2-D2           96    none    32  NA          white, blue red
4 Darth Vader    202    male   136  none        white       yellow
5 Leia Organa    150    female  49  brown       light       brown
6 Owen Lars      178    male   120  brown, grey light       blue
  birth_year gender    homeworld species
1  19.0      masculine Tatooine  Human
2 112.0      masculine Tatooine  Droid
3  33.0      masculine Naboo     Droid
4  41.9      masculine Tatooine  Human
5  19.0      feminine  Alderaan  Human
6  52.0      masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
# Relocate ALL character columns to the front
starwars |>
  relocate(where(is.character)) |>
  head()

  name           hair_color  skin_color  eye_color sex    gender    homeworld
1 Luke Skywalker blond       fair        blue      male   masculine Tatooine
2 C-3PO          NA          gold        yellow    none   masculine Tatooine
3 R2-D2          NA          white, blue red       none   masculine Naboo
4 Darth Vader    none        white       yellow    male   masculine Tatooine
5 Leia Organa    brown       light       brown     female feminine  Alderaan
6 Owen Lars      brown, grey light       blue      male   masculine Tatooine
  species height mass birth_year
1 Human   172     77   19.0
2 Droid   167     75  112.0
3 Droid    96     32   33.0
4 Human   202    136   41.9
5 Human   150     49   19.0
6 Human   178    120   52.0
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In [ ]:
# Relocate all NUMERIC columns AFTER all CHARACTER columns
starwars |>
  relocate(where(is.numeric), .after = where(is.character)) |>
  head()

  name           hair_color  skin_color  eye_color sex    gender    homeworld
1 Luke Skywalker blond       fair        blue      male   masculine Tatooine
2 C-3PO          NA          gold        yellow    none   masculine Tatooine
3 R2-D2          NA          white, blue red       none   masculine Naboo
4 Darth Vader    none        white       yellow    male   masculine Tatooine
5 Leia Organa    brown       light       brown     female feminine  Alderaan
6 Owen Lars      brown, grey light       blue      male   masculine Tatooine
  species height mass birth_year
1 Human   172     77   19.0
2 Droid   167     75  112.0
3 Droid    96     32   33.0
4 Human   202    136   41.9
5 Human   150     49   19.0
6 Human   178    120   52.0
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

#### `unite`: Unite multiple columns into one

The `unite()` function can be used to combine multiple columns into a single column. For example, we can combine the `mass` and `height` columns into a single new column.

In [ ]:
starwars |>
  unite(height_mass, height, mass, sep = "_|_") |>
  head()

  name           height_mass hair_color  skin_color  eye_color birth_year
1 Luke Skywalker 172_|_77    blond       fair        blue       19.0
2 C-3PO          167_|_75    NA          gold        yellow    112.0
3 R2-D2          96_|_32     NA          white, blue red        33.0
4 Darth Vader    202_|_136   none        white       yellow     41.9
5 Leia Organa    150_|_49    brown       light       brown      19.0
6 Owen Lars      178_|_120   brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

#### `separate`: Separate one column into multiple columns

The `separate()` function does the exact opposite of the `unite()` function and separates a single column into multiple columns based on a separator. Look at the help documents by typing `? separate` to get a comprehensive look at the various argumetns and use cases it supports.

In [ ]:
starwars |>
  separate(name, c('first_name', 'last_name'), sep = "\\s") |>
  head()

Warning message:
“Expected 2 pieces. Additional pieces discarded in 7 rows [7, 16, 18, 29, 34,
60, 65].”
Warning message:
“Expected 2 pieces. Missing pieces filled with `NA` in 24 rows [2, 3, 8, 13, 15,
19, 20, 22, 23, 25, 26, 38, 39, 46, 49, 58, 63, 64, 73, 77, ...].”

  first_name last_name height mass hair_color  skin_color  eye_color birth_year
1 Luke       Skywalker 172     77  blond       fair        blue       19.0
2 C-3PO      NA        167     75  NA          gold        yellow    112.0
3 R2-D2      NA         96     32  NA          white, blue red        33.0
4 Darth      Vader     202    136  none        white       yellow     41.9
5 Leia       Organa    150     49  brown       light       brown      19.0
6 Owen       Lars      178    120  brown, grey light       blue       52.0
  sex    gender    homeworld species
1 male   masculine Tatooine  Human
2 none   masculine Tatooine  Droid
3 none   masculine Naboo     Droid
4 male   masculine Tatooine  Human
5 female feminine  Alderaan  Human
6 male   masculine Tatooine  Human
  films
1 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
2 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope
3 The Empire Strikes Back, Attack of the Clones   , The Phantom Menace     , Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
4 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope
5 The Empire Strikes Back, Revenge of the Sith    , Return of the Jedi     , A New Hope             , The Force Awakens
6 Attack of the Clones, Revenge of the Sith , A New Hope
  vehicles
1 Snowspeeder          , Imperial Speeder Bike
2
3
4
5 Imperial Speeder Bike
6
  starships
1 X-wing          , Imperial shuttle
2
3
4 TIE Advanced x1
5
6

In this lesson, you learnt the most fundamental verbs of data manipulation that let you operate on the rows and columns of a table, while keeping the underlying unit of observation the same. The full power of the `tidyverse` stems from the fact that you can combine these verbs together into a pipeline to achieve even the most complex data transformations.