<a href=https://uplimit.com/course/r-for-data-science>
  <img src=https://imgur.com/6Vkc11w.png />
</a>

|        |                                   |                                   |                                 |                                |
| -------| ----------------------------------| -------------------------------- -| --------------------------------| ------------------------------------------|
| Week 1 | [[01] Doing Data Science](https://colab.research.google.com/drive/1aWpmzS36qVc8hNIaSSSHexlodwwyMJCB)           | [[02] Data Science in Action](https://colab.research.google.com/drive/1aWpmzS36qVc8hNIaSSSHexlodwwyMJCB)       | [[03] Importing Data](https://colab.research.google.com/drive/13kHBX3H1F2yx5yXWJ5iFZh48qjEtpLjU)             | [[04] Visualizing Data: Overview](https://colab.research.google.com/drive/1JSeDt-Gneegd5B2KwWTJF_igYPb-xsIv)          |
|        | [[05] Transforming Data: Overview](https://colab.research.google.com/drive/1IMZJFE8WmwjgdYCddvaO386PljKq_PjC)  | [[06] Transforming Data: Manipulate](https://colab.research.google.com/drive/19ClnAH7d30I9PkD9KuZndPmy5hxk3gdi) |                                 |                                           |
| Week 2 | [[07] Transforming Data: Aggregate](https://colab.research.google.com/drive/1zigvePewKpzKQHx2pjABXU6Ms8QzQXj7) | [[08] Transforming Data: Reshape](https://colab.research.google.com/drive/1Ma9VrM9SrkNEeXTSul0Ca8a7GHAeNLzC)   | [[09] Transforming Data: Combine](https://colab.research.google.com/drive/1JUGm1h4YPmCkre-rVUj5Ql7lBS66_xIs) | [[10] Visualizing Data: Grammar of Graphics](https://colab.research.google.com/drive/1YLE3NPp-TO2KUTohtidjzKMeqJVWxYoT) |
|        | [[11] Data Science in Action Again](https://colab.research.google.com/drive/1eWjVK4oEiXdwdP4sT0nOJlmkCMBkfLpz) |                                   |                                 |                                           |
Books | [Hands on Programming with R](https://rstudio-education.github.io/hopr/index.html) | [R for Data Science](https://r4ds.hadley.nz/) | [Elegant Graphics for Data Analysis](https://ggplot2-book.org/)

> ðŸ“• __BEFORE YOU GET STARTED:__
> 1. Click on **Copy to Drive** to copy notebook to your drive.
> 2. Click on **Share** on the top-right corner (of your copied notebook).
> 3. Update sharing settings to **Anyone with link**
> 4. Delete this cell.

## Importing Data

Importing data refers to the process of reading data from an external file or data source into an R session or environment. This is an important step in many data science projects, as it allows you to work with real-world data in R.

<img src="https://i.imgur.com/Up3eaUJ.png" />

In R, there are several functions and packages that can be used to import data. Some of the most commonly used ones are:

-   `read.table()`, `read.csv()`, and `read.delim()`: These are base R functions for reading in tabular data from text files with different formats.

-   `readr::read_csv()` and `readr::read_tsv()`: These are functions from the `readr` package, which provides fast and efficient reading of tabular data with more flexible options for handling missing values, column types, and so on.

-   `haven::read_sas()`, `haven::read_dta()`, `haven::read_spss()`: These are functions from the `haven` package, which can be used to read in data from SAS, Stata, and SPSS files respectively.

-   `readxl::read_excel()`: This is a function from the `readxl` package, which can be used to read in data from Excel files.

-   `httr::GET()`: This function can be used to retrieve data from a web API or a remote data source over the internet.

In [ ]:
# Load packages and common utility funtions
library(tidyverse)
url = "https://gist.githubusercontent.com/ramnathv/e71d3ffe88961fc4ef95642053012384/raw/9dda53562d06009912841ab3538d4aeb90e5ee09/_common.R"
download.file(url, basename(url))
source("_common.R")

â”€â”€ Attaching core tidyverse packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 2.0.0 â”€â”€
âœ” dplyr     1.1.3     âœ” readr     2.1.4
âœ” forcats   1.0.0     âœ” stringr   1.5.0
âœ” ggplot2   3.4.4     âœ” tibble    3.2.1
âœ” lubridate 1.9.3     âœ” tidyr     1.3.0
âœ” purrr     1.0.2
â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()
â„¹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Installing package into â€˜/usr/local/lib/R/site-libraryâ€™
(as â€˜libâ€™ is unspecified)

Tracing function "install.packages" in package "utils"

Tracing function "update.packages" in package "utils"

Installing packages into â€˜/usr/local/lib/R/site-libraryâ€™
(as â€˜libâ€™ is unspecified)

Inspecting installed packages...

### Download Zip File

In this course, we will be working with a very interesting dataset of 100+ years of US baby names from the Social Security Administration (SSA). The raw data is available on the SSA website as a zip file, and we will start our data import by downloading this zip file.

In [ ]:
NAMES_URL <- "https://www.ssa.gov/oact/babynames/names.zip"
dir.create("data", showWarnings = FALSE)
DOWNLOAD_DIR <- here::here("data")
NAMES_ZIP <- file.path(DOWNLOAD_DIR, basename(NAMES_URL))

# Download `NAMES_ZIP` from `NAMES_URL` if it does not already exist
if (!file.exists(NAMES_ZIP)) {
  download.file(NAMES_URL, NAMES_ZIP)
}

The `download.file()` function is used to download the zip file from the URL specified in `NAMES_URL` and save it to the location specified in `NAMES_ZIP`. Note that we first check if the file to be downloaded already exists and download it ONLY if it has not been downloaded already.

After running this code, the zip file containing baby names data from the SSA website will be downloaded and saved to the specified `DOWNLOAD_DIR` directory with the file name specified in `NAMES_ZIP`.

------------------------------------------------------------------------

To become a good data scientist, you need to focus on three things:

1.  Identify WHAT needs to be done?
2.  Identify the STEPS to accomplish the task.
3.  Write code to execute the steps.

The first two areas are typically language agnostic and require one to focus on the ability to define a problem and break it down into steps. The last area is language specific, and knowing the language and its ecosystem well will allow you to write highly performant, concise code.

------------------------------------------------------------------------

### Explore Zip File

Before we can import the data into R, we need to explore the contents of the zip file. Let us list the files contained within the zip file, without actually unzipping them.

In [ ]:
files <- unzip(NAMES_ZIP, list = TRUE)
head(files)

  Name        Length Date
1 yob1880.txt 24933  2023-03-15 18:55:00
2 yob1881.txt 24052  2023-03-15 18:55:00
3 yob1882.txt 26559  2023-03-15 18:55:00
4 yob1883.txt 26002  2023-03-15 18:55:00
5 yob1884.txt 28670  2023-03-15 18:55:00
6 yob1885.txt 28625  2023-03-15 18:55:00

The `unzip()` function is used to extract information about the contents of the zip file, with the `list = TRUE` argument specified to only list the files within the zip file, rather than extracting them.

The `head()` function is used to display the first 6 rows (by default) of an object. In this case, it will show the first 6 rows of the `files` object. If you wanted to see the first 10 rows instead, you could add a second argument to the `head()` function, e.g., `head(file, n = 10)`.

Looking at the `files` object, it seems like the data is stored as multiple text files, one for each year.

----

Learning a programming language is very similar to how you would learn a new language. You need to start with the __letters__ of the alphabet, put them together to form __words__, put words into __sentences__, sentences into __paragraphs__, and paragraphs into __documents__.

Becoming a good data scientist requires you to build a strong vocabulary of functionality. The area where the `tidyverse` shines bright is that it provides you with a highly consistent vocabulary of small building blocks that can be strung together to accomplish complex tasks.

One learning tip I can give you is that every time you encounter a new function, write it down with an example and fill in your own description. Periodically refer to this so you internalize this in your mind.

----

### Explore Text File

Let us read the first 5 lines of the text file `yob1880.txt` located within the zip file downloaded. We can do this using the `unz()` function to create a connection to the zip file `yob1880.txt`, and read the first 5 lines of this text file.

When dealing with text files, it is really important to take the time to read the first few lines of data so you can understand how it is formatted, and what would be the appropriate function to use to import it as a data frame.

In [ ]:
file_con <- unz(NAMES_ZIP, 'yob1880.txt')
print(readLines(file_con, n = 5))

[1] "Mary,F,7065"      "Anna,F,2604"      "Emma,F,2003"      "Elizabeth,F,1939"
[5] "Minnie,F,1746"

It seems like each line of this file holds comma separated values. This is the most common type of text data you will find, and we can read it as a data frame into R using the `read_csv()` function from `readr`.

Another important point to note is that this text file does NOT contain a row with the column headers. Hence, we will need to specify it explicitly when we read the data into R.

### Read CSV File

Let us now read the text file `yob1880.txt`, into a data frame using the `read_csv()` function from the `readr` package. We will use the connection object `file_con` that we created previously.

In [ ]:
tbl_names <- readr::read_csv(
  file = file_con,
  col_names = c('name', 'sex', 'nb_births'),
  show_col_types = FALSE
)

head(tbl_names)

  name      sex nb_births
1 Mary      F   7065
2 Anna      F   2604
3 Emma      F   2003
4 Elizabeth F   1939
5 Minnie    F   1746
6 Margaret  F   1578

1.  The `file` argument specifies the connection to the text file to be read.
2.  The `col_names` argument specifies the column names to be assigned to the resulting data frame, with the first column being named 'name', the second column being named 'sex', and the third column being named 'nb_births'.
3.  The `show_col_types` argument is set to `FALSE`, which means that column types will not be displayed as the data is read in.

The resulting `tbl_names` object is a data frame containing the baby names data, with one row per name and columns for name, sex, and the number of births for that name.

### Unzip Zip File

We are now ready to read data from all the text files in the zip file. In order to do this, we should first unzip the contents of the zip file `NAMES_ZIP` to a temporary directory `NAMES_DIR`, and then get the paths to all the text files as the variable `NAMES_TXT_FILES`.

In [ ]:
NAMES_DIR <- tempdir()
unzip(NAMES_ZIP, exdir = NAMES_DIR)
NAMES_TXT_FILES <- fs::dir_ls(NAMES_DIR, glob = "*.txt")
print(head(NAMES_TXT_FILES))

/tmp/RtmpyGukp4/yob1880.txt /tmp/RtmpyGukp4/yob1881.txt
/tmp/RtmpyGukp4/yob1882.txt /tmp/RtmpyGukp4/yob1883.txt
/tmp/RtmpyGukp4/yob1884.txt /tmp/RtmpyGukp4/yob1885.txt

### Read CSV Files

We can now use the `read_csv` function from the `readr` package to read all the text files into a data frame. It is important to understand the arguments to this function, as it is one of the most commonly used import functions.

1.  The `file` argument specifies the file to read in, and in this case, it is `NAMES_TXT_FILES`, which is a character vector containing the paths to all the text files in the directory.

2.  The `col_names` argument specifies the names of the columns in the CSV file. In this case, the file has three columns: `name`, `sex`, and `nb_births`.

3.  The `show_col_types` argument is set to `FALSE`, which means that the function will not print the types of the columns.

4.  The `id = 'year'` argument specifies that the path to the file should be added as an extra column named `year`. This is required in order to add the `year` information to the data frame, since it is not already present.

In [ ]:
tbl_names <- readr::read_csv(
  file = NAMES_TXT_FILES,
  col_names = c('name', 'sex', 'nb_births'),
  show_col_types = FALSE,
  id = 'year'
)

head(tbl_names)

  year                        name      sex nb_births
1 /tmp/RtmpyGukp4/yob1880.txt Mary      F   7065
2 /tmp/RtmpyGukp4/yob1880.txt Anna      F   2604
3 /tmp/RtmpyGukp4/yob1880.txt Emma      F   2003
4 /tmp/RtmpyGukp4/yob1880.txt Elizabeth F   1939
5 /tmp/RtmpyGukp4/yob1880.txt Minnie    F   1746
6 /tmp/RtmpyGukp4/yob1880.txt Margaret  F   1578

Note that the `year` column contains the full path to the text file and hence we will need to extract just the numerical portion of the file name. We can use the `mutate()` function from the `dplyr` package to modify the `year` column and replace its values by the parsed numerical value of year.

In [ ]:
tbl_names <- tbl_names |>
  dplyr::mutate(year = readr::parse_number(basename(year)))

head(tbl_names)

  year name      sex nb_births
1 1880 Mary      F   7065
2 1880 Anna      F   2604
3 1880 Emma      F   2003
4 1880 Elizabeth F   1939
5 1880 Minnie    F   1746
6 1880 Margaret  F   1578

### Write CSV File

The final step is to write the imported and tidied data to a compressed csv file, using the `write_csv()` function from the `readr` package. Note that it is best to save csv files with compression in order to keep the file size small.

In [ ]:
NAMES_CSV_GZ <- file.path(here::here("data"), 'names.csv.gz')
readr::write_csv(tbl_names, gzfile(NAMES_CSV_GZ))

You will be using this babynames data for your first project.