<a href=https://uplimit.com/course/r-for-data-science>
  <img src=https://imgur.com/6Vkc11w.png />
</a>

|        |                                   |                                   |                                 |                                |
| -------| ----------------------------------| -------------------------------- -| --------------------------------| ------------------------------------------|
| Week 1 | [[01] Doing Data Science](https://colab.research.google.com/drive/1aWpmzS36qVc8hNIaSSSHexlodwwyMJCB)           | [[02] Data Science in Action](https://colab.research.google.com/drive/1aWpmzS36qVc8hNIaSSSHexlodwwyMJCB)       | [[03] Importing Data](https://colab.research.google.com/drive/13kHBX3H1F2yx5yXWJ5iFZh48qjEtpLjU)             | [[04] Visualizing Data: Overview](https://colab.research.google.com/drive/1JSeDt-Gneegd5B2KwWTJF_igYPb-xsIv)          |
|        | [[05] Transforming Data: Overview](https://colab.research.google.com/drive/1IMZJFE8WmwjgdYCddvaO386PljKq_PjC)  | [[06] Transforming Data: Manipulate](https://colab.research.google.com/drive/19ClnAH7d30I9PkD9KuZndPmy5hxk3gdi) |                                 |                                           |
| Week 2 | [[07] Transforming Data: Aggregate](https://colab.research.google.com/drive/1zigvePewKpzKQHx2pjABXU6Ms8QzQXj7) | [[08] Transforming Data: Reshape](https://colab.research.google.com/drive/1Ma9VrM9SrkNEeXTSul0Ca8a7GHAeNLzC)   | [[09] Transforming Data: Combine](https://colab.research.google.com/drive/1JUGm1h4YPmCkre-rVUj5Ql7lBS66_xIs) | [[10] Visualizing Data: Grammar of Graphics](https://colab.research.google.com/drive/1YLE3NPp-TO2KUTohtidjzKMeqJVWxYoT) |
|        | [[11] Data Science in Action Again](https://colab.research.google.com/drive/1eWjVK4oEiXdwdP4sT0nOJlmkCMBkfLpz) |                                   |                                 |                                           |
Books | [Hands on Programming with R](https://rstudio-education.github.io/hopr/index.html) | [R for Data Science](https://r4ds.hadley.nz/) | [Elegant Graphics for Data Analysis](https://ggplot2-book.org/)

> ðŸ“• __BEFORE YOU GET STARTED:__
> 1. Click on **Copy to Drive** to copy notebook to your drive.
> 2. Click on **Share** on the top-right corner (of your copied notebook).
> 3. Update sharing settings to **Anyone with link**
> 4. Delete this cell.

## Transforming Data

Visualizing data is a lot of fun. However, the key to visualizing data is getting the data into a tidy format that makes it easy to visualize. Ask any practicing data scientist and they will tell you how data transformation is easily the most time consuming portion of their daily workflow.

<img src="https://i.imgur.com/0l6fJiZ.png" />

Fortunately for us, the `tidyverse` provides us with a __grammar of data transformation__ as well, that makes it easy to make data bend to our will and wishes. Once you understand this grammar, you will be able to make any dataset dance to your tunes!

<img src="https://media0.giphy.com/media/4esrzplOvKkE0/giphy.gif?cid=ecf05e47dl39d633d1uhf4480lxjn7x1cxdmumgo9w4a6ccj&ep=v1_gifs_search&rid=giphy.gif&ct=g" />

In [ ]:
# Load packages and utility scripts
library(tidyverse)
url = "https://gist.githubusercontent.com/ramnathv/e71d3ffe88961fc4ef95642053012384/raw/9dda53562d06009912841ab3538d4aeb90e5ee09/_common.R"
download.file(url, basename(url))
source("_common.R")

â”€â”€ Attaching core tidyverse packages â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse 2.0.0 â”€â”€
âœ” dplyr     1.1.3     âœ” readr     2.1.4
âœ” forcats   1.0.0     âœ” stringr   1.5.0
âœ” ggplot2   3.4.4     âœ” tibble    3.2.1
âœ” lubridate 1.9.3     âœ” tidyr     1.3.0
âœ” purrr     1.0.2
â”€â”€ Conflicts â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€ tidyverse_conflicts() â”€â”€
âœ– dplyr::filter() masks stats::filter()
âœ– dplyr::lag()    masks stats::lag()
â„¹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
Installing package into â€˜/usr/local/lib/R/site-libraryâ€™
(as â€˜libâ€™ is unspecified)

Tracing function "install.packages" in package "utils"

Tracing function "update.packages" in package "utils"

Installing packages into â€˜/usr/local/lib/R/site-libraryâ€™
(as â€˜libâ€™ is unspecified)

Inspecting installed packages...

We will use both the `babynames` dataset as well as the `diamonds` dataset to explore the world of data transformation with the `tidyverse`.

In [ ]:
FILE_NAMES <- "https://raw.githubusercontent.com/ramnathv/corise-r-for-ds/main/data/names.csv.gz"
babynames <- readr::read_csv(FILE_NAMES, show_col_types = FALSE)

<img src="https://www.casalejewelers.net/media/uploads/Half%20off%20Half%20the%20Store/Babies%20vs%20Diamonds.JPG" height=300px/>

We can categorize data transformation operations into FOUR groups. In this lesson, we will touch upon the basics of this grammar.

<img src=https://i.imgur.com/6NUKqpe.png height=250px/>

### Manipulating Data

The first set of operations involve __manipulating rows and columns__ of a table while leaving the underlying unit of observation, and its shape largely intact. For example, suppose we want to display the `carat`, `price` and `price_per_carat` columns for the top 5 diamonds by `price_per_carat`. We can accomplish this using the grammar provided by the `dplyr` package, which is a part of the `tidyverse`.

In [ ]:
# Start with the diamonds data.
diamonds |>
  # Select the columns carat and price
  select(carat, price) |>
  # Add a new column for price_per_carat
  mutate(price_per_carat = price / carat) |>
  # Arrange the rows in descending order of price_per_carat
  arrange(desc(price_per_carat)) |>
  # Slice the first five rows
  slice_head(n = 5)

  carat price price_per_carat
1 1.04  18542 17828.85
2 1.07  18279 17083.18
3 1.03  17590 17077.67
4 1.07  18114 16928.97
5 1.02  17100 16764.71

Note how the pipe operator (`|>`) allows us to pass the dataset through a series of transformations, that together accomplish what we want. Also note how each row in the dataset still corresponds to a single `observation` (diamond), and each cell is a `value` of a `variable`.

Let us take another example of data manipulation, this time on the `babynames` data. Suppose, we want the most popular female names for babies born in the year 2021. We can accomplish this by stringing together a series of data manipulation functions provided by the `tidyverse`.

In [ ]:
# Start with the babynames data
babynames |>
  # Filter the rows for year = 2021 and sex = "F"
  filter(year == 2021, sex == "F") |>
  # Select the columns name, sex, and nb_births
  select(name, sex, nb_births) |>
  # Arrange the rows in descending order of nb_births
  arrange(desc(nb_births)) |>
  # Slice the first five rows
  slice_head(n = 5)

  name      sex nb_births
1 Olivia    F   17728
2 Emma      F   15433
3 Charlotte F   13285
4 Amelia    F   12952
5 Ava       F   12759

A large part of transforming data will involve data manipulation operations. This is just a trailer of what is to come, and we will learn more about data manipulation in the next lesson.

### Aggregating Data

The second set of data manipulation operations that are extremely useful are __data aggregation operations__. Unlike data manipulation operations, aggregation operations change the underlying shape of the data. Moreover, they change the unit of observation from individual observations to groups.

For example, suppose we want to summarize diamonds by combination of `cut` and `clarity`. We can group them by `cut` and `clarity` and summarize each group by computing the `avg_price`, `avg_carat` and `avg_price_per_carat`. The `dplyr` package provides us with the useful functions `group_by()` and `summarize()` to accomplish what we want.

In [ ]:
diamonds_by_cut_clarity <- diamonds |>
    # Group by cut and clarity
    group_by(cut, clarity) |>
    # Summarize average price, carat, and price/carat
    summarize(
      avg_price = mean(price),
      avg_carat = mean(carat),
      avg_price_per_carat = sum(price) / sum(carat),
      .groups = "drop"
    )

head(diamonds_by_cut_clarity)

  cut  clarity avg_price avg_carat avg_price_per_carat
1 Fair I1      3703.533  1.3610000 2721.185
2 Fair SI2     5173.916  1.2038412 4297.840
3 Fair SI1     4208.279  0.9646324 4362.573
4 Fair VS2     4174.724  0.8852490 4715.875
5 Fair VS1     4165.141  0.8798235 4734.064
6 Fair VVS2    3349.768  0.6915942 4843.546

Suppose, we want to get the top 5 most popular Male and Female names of all time. Can we accomplish it with the grammar we have learnt so far? Well, the answer is ALMOST yes. We can summarize the total number of births by `sex` and `name`, and then use the `slice_max()` function to slice the rows to get the top 5 rows in terms of `nb_births` for each `sex`.

In [ ]:
babynames_top_5 <- babynames |>
    # Group by sex and name
    group_by(sex, name) |>
    # Summarize total number of births by sex and name
    summarize(
      nb_births = sum(nb_births),
      .groups = "drop_last"
    ) |>
    # Slice the top 5 rows with highest values of `nb_births`.
    slice_max(nb_births, n = 5)

babynames_top_5

   sex name      nb_births
1  F   Mary      4132497
2  F   Elizabeth 1661030
3  F   Patricia  1572795
4  F   Jennifer  1469379
5  F   Linda     1453755
6  M   James     5202714
7  M   John      5150510
8  M   Robert    4834094
9  M   Michael   4392696
10 M   William   4156142

You might have noticed a small difference between the `summarize` step in these two examples. In the first example with the `diamonds` data, we set `.groups = "drop"`. This was done to drop all grouping variables, since we wanted to get the top 5 rows overall.

In the second example with the `babynames` data, we set `.groups = "drop_last"`. This results in the data still being grouped by the `sex` variable and that is perfect as the `slice_max()` function can then get us the top 5 names for each `sex`. Note that `.groups = "drop_last"` is the default behavior of the `summarize()` function. However, it is always best to be explicit about it, in order to avoid nasty surprises.

Once again, this is just the trailer, and we will learn a lot more about data aggregation in later lessons. The major point I want to emphasize here once again is how a powerful consistent grammar allows you to handle complex transformations in a flexible manner!

### Reshaping Data

The first two operations we encountered before don't alter the fundamental shape of the data. The next set of operations we will learn about are the __reshaping__ operations, which alter the fundamental shape of the data.

For example, suppose we want to display the `avg_price_per_carat` for every combination of `cut` and `clarity`, where `cut` is laid out in rows and the `clarity` is laid out in columns. We can accomplish this by taking the `diamonds_by_cut_clarity` table and pivoting it wider, taking the column names from `clarity`, and the cell values from `avg_price_per_carat`.

In [ ]:
diamonds_by_cut_clarity |>
  pivot_wider(
    id_cols = cut,
    names_from = clarity,
    values_from = avg_price_per_carat
  )

  cut       I1       SI2      SI1      VS2      VS1      VVS2     VVS1
1 Fair      2721.185 4297.840 4362.573 4715.875 4734.064 4843.546 5824.159
2 Good      2989.670 4424.404 4443.093 5009.755 5017.184 5007.250 4488.794
3 Very Good 3181.380 4687.127 4648.335 5197.064 5189.304 5363.393 4972.706
4 Premium   3067.022 4847.166 4903.437 5457.510 5654.123 5796.522 5293.741
5 Ideal     3546.109 4718.557 4679.574 4898.176 5172.180 5544.559 4976.469
  IF
1 4030.679
2 6649.474
3 7104.782
4 6389.863
5 4994.961

The `tidyverse` provides several functions to reshape data and we will learn all about it in later lessons.

### Combining Data

Finally, the last set of data transformation operations, we will learn about are those that involve __combining__ more than one dataset. We often want to combine datasets either by joining them or stacking them. The `tidyverse` provides several functions to accomplish this in a consistent manner.

<img src=https://dataschool.com/assets/images/how-to-teach-people-sql/sqlJoins/sqlJoins_7.png height=400px/>

We will learn more about this in a later lesson.

----

The `tidyverse` follows the unix philosophy of providing simple building blocks that do ONE thing and only ONE thing really well. The power of the `tidyverse` stems from the consistency of these building blocks and the ability to string them together into a pipeline. While this might at times lead to more lines of code, the fact that it gives you enormous flexibility makes it worthwhile. Note that it is possible to combine these building blocks into bigger sub-assemblies to abstract any repetitive patterns at play. This is beyond the scope of this course, but is what makes the `tidyverse` truly powerful in the real world!

----